.label-container {
  display: flex;
  flex-wrap: wrap;
}

language-label {
  margin-bottom: 5px;
}

.name {
  padding-left: 0;
  margin-left: 0;
}

.description {
  white-space: nowrap;
  height: 3vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.card {
  padding: 1vw;
  min-height: 15vh;
  min-width: 35vw;
  box-shadow: rgba(36, 160, 237, 0.08) 0px 4px 12px;
  transform: box-shadow 0.3s;
}

.ui.card:hover {
  box-shadow: rgba(36, 160, 237, 0.15) 0px 3px 3px 0px; /* box-shadow: rgba(36, 160, 237, 0.4) 5px 5px, rgba(36, 160, 237, 0.3) 10px 10px,
      rgba(36, 160, 237, 0.05) 25px 25px; */
  transform: box-shadow 0.3s;
  transition-delay: 0.1s;
}

.ui.extra.content {
  padding-left: 0px;
}
